<template>
    <div class="componentContainer">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="componentTitle">
                    Index
                </h3>
            </div>
            <div class="panel-body">
                <div>

                </div>
                <span>
                    En esta pagina encontraras como crear componentes genericos reutilizables
                </span>
            </div>
        </div>
    </div>
</template>