@import 'components/_index.css';
@import 'modules/_index.scss';

.navbar {
    border-radius : 0px;
    margin-bottom : 0px;
}

.error {
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: -1px;
    padding: 0.375rem 0.5625rem 0.5625rem;
    background: #f04124;
    color: #FFFFFF;
}