<template>
    <label id="radioButtonList${objId}">${name}</label>
    <div repeat.for="radio of list"
         class="radio ${radioClass} ${alignment}"
         id="radioListContainer${objId}-${radio.id}"> 
            <input type="radio" 
                   name.bind="objId" 
                   model.bind="radio"
                   checked.bind="selected"
                   id="radioListInput${objId}-${radio.id}"/>  
        <label id="radioListLabel${objId}-${radio.id}" 
               for="radioListInput${objId}-${radio.id}">${radio.text}</label>
    </div>
</template>