.textboxContainer {
  margin: 0px 0px 15px 0px !important; }

[id^="dateboxInput"] {
  border-radius: 4px; }
  [id^="dateboxInput"].invalid {
    border: 2px solid #8b2929; }

[id^="dropDownSelect"] {
  width: auto;
  display: initial; }

